<!DOCTYPE html>
<html>
  <head>
    <title>Surfturf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: '/layouts/navbar' %>
    <% if flash[:notice] %>
      <%= render partial: '/layouts/flash' %>
    <% end %>
    <section class='hero is-fullheight bg-img'>
      <%= yield %>
    </section>
  </body>
</html>
